aside.aside
  .aside__block
    .aside__title
      h2 Категории
    .aside-categories
      a(href="#") Виниловые магниты
        i.icon.icon-arrow-down-3
    ul.aside-list
      li.active
        a(href="#") Прямоугольные магниты
      li
        a(href="#") Квадратные магниты
      li
        a(href="#") Круглые магниты
      li
        a(href="#") Плоские магниты стандартной формы
      li
        a(href="#") Фигурные магниты
      li
        a(href="#") Магнитные календари
      li
        a(href="#") Магнитные блокноты
      li
        a(href="#") Магнит с термометром
      li
        a(href="#") Магнитные фоторамки
      li
        a(href="#") Магниты с логотипом
      li
        a(href="#") Магниты с видами городов
    .aside-categories
      a(href="#") Виниловые магниты
        i.icon.icon-arrow-down-3
    ul.aside-list
      li
        a(href="#") Прямоугольные магниты
      li
        a(href="#") Квадратные магниты
      li
        a(href="#") Круглые магниты
      li
        a(href="#") Плоские магниты стандартной формы
      li
        a(href="#") Фигурные магниты
      li
        a(href="#") Магнитные календари
      li
        a(href="#") Магнитные блокноты
      li
        a(href="#") Магнит с термометром
      li
        a(href="#") Магнитные фоторамки
      li
        a(href="#") Магниты с логотипом
      li
        a(href="#") Магниты с видами городов
    .aside-categories
      a(href="#") Виниловые магниты
        i.icon.icon-arrow-down-3
    ul.aside-list
      li
        a(href="#") Прямоугольные магниты
      li
        a(href="#") Квадратные магниты
      li
        a(href="#") Круглые магниты
      li
        a(href="#") Плоские магниты стандартной формы
      li
        a(href="#") Фигурные магниты
      li
        a(href="#") Магнитные календари
      li
        a(href="#") Магнитные блокноты
      li
        a(href="#") Магнит с термометром
      li
        a(href="#") Магнитные фоторамки
      li
        a(href="#") Магниты с логотипом
      li
        a(href="#") Магниты с видами городов
  .aside__block
    .aside__title
      h2 Полезные статьи
    a(href="#").aside__article
      span 1
      img(src="img/aside-1.png", alt="")
      p Как делают магниты на холодильник
    a(href="#").aside__article
      span 2
      img(src="img/aside-2.png", alt="")
      p Как делают магниты на холодильник
    a(href="#").aside__article
      span 3
      img(src="img/aside-3.png", alt="")
      p Как делают магниты на холодильник
  .aside__block
    .aside__title
      h2 Следите за нами в
    .aside__social
      ul
        li
          a(href="#")
            i.icon.icon-vk
        li
          a(href="#")
            i.icon.icon-youtube
        li
          a(href="#")
            i.icon.icon-plus
        li
          a(href="#")
            i.icon.icon-facebook
        li
          a(href="#")
            i.icon.icon-twitter
        li
          a(href="#")
            i.icon.icon-od
  .aside__block
    .aside__sale
      h5
        p На первый заказ
        b СКИДКА 10%
      span %