---
title: Прямоугольные
---
extends layouts/_layout
block content
  +breadcrumbs(['Главная', 'Виниловые магниты'])
  .catalog
    .container
      .row
        .col-xs-12
          .heading
            h1 Виниловые магниты
        .col-md-9.col-xs-12
          .catalog__filter
            .row
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-1.png", alt="")
                  p Прямоугольные магниты
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-2.png", alt="")
                  p
                    Квадратные магниты
                  span
                    | от 
                    b 4,6 
                    | руб./шт.
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-3.png", alt="")
                  p Прямоугольные магниты
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-4.png", alt="")
                  p Плоские магниты стандартной формы
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-5.png", alt="")
                  p Фигурные магниты
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-6.png", alt="")
                  p Магнитные календари
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-7.png", alt="")
                  p Магнитные блокноты
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-8.png", alt="")
                  p Магнит с термометром
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-9.png", alt="")
                  p Магнитные фоторамки
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-10.png", alt="")
                  p Магниты с логотипом
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-11.png", alt="")
                  p Магниты с видами городов
              .col-sm-4.col-xs-6
                a(href="#").catalog__filter__block
                  img(src="img/catalog/catalog__filter-12.png", alt="")
                  p Гибкие магниты
              .col-xs-12.hidden-md
                a(href="#").btn.btn-primary Заказать просчет
          .catalog__info
            .block__img.block__img-secondary
              .block__img__content
                img(src="img/home/hit-1.png", alt="")
            .heading
              h2 <span>Виниловые магниты –</span> недорогой и эффективный <span>инструмент рекламы</span>
            p Виниловые магниты имеют весомую долю рынка рекламно-сувенирной продукции. Это связано с тем, что они относительно недороги в производстве, хорошо реализовываются в качестве сувениров или дополнения различных товаров, могут помочь продвинуть бренд и не только. 
            p Сейчас на рынке представлено довольно много разнообразных видов магнитов, которые отличаются своими функциями, дизайном и форматами. Виниловые магниты являются хитом продаж, так как могут обрести любой внешний вид (дизайн) при небольших финансовых и производственных затратах. 
            p Наша компания «Фабрика магнитов» осуществляет изготовление виниловых магнитов на современном японском оборудовании при помощи опытных специалистов, что позволяет предоставлять высочайший уровень качества и оперативность выполнения заказов для всех своих клиентов. Кроме этого, наши цены на виниловые магниты способны приятно удивить даже самого требовательного покупателя. 
          .catalog__info.catalog__info-secondary
            .block__img
              .block__img__content
                img(src="img/home/hit-1.png", alt="")
            .heading
              h2 <span>Причины популярности</span> виниловых магнитов 
            p Не каждый клиент, решивший приобрести виниловые магниты на заказ, знает про все достоинства этой продукции. Дело в том, что, помимо низкой себестоимости, виниловый магнит имеет и другие преимущества, а именно:
            ul
              li - производство виниловых магнитов не имеет ограничений в размерах, формах, в использовании красок и так далее;
              li - универсальность винила позволяет использовать его в качестве крепления для дополнительных аксессуаров (<span>блокноты, термометры,</span> часы и.т.д);
              li - широкое использование для изготовления как рекламных, так и сувенирных магнитов;
              li - изображение или текст, наносимый на винил, имеет высокий уровень детализации, контраста и не боится солнечных лучей.
            p Виниловые магниты на холодильник от нашей фабрики являются практичной и долговечной продукцией. Технология их изготовления предусматривает структуру из нескольких слоев. Это сама виниловая подложка и пленка, на которую наносится изображение. Печать текста или картинки осуществляется на внутренней стороне пленки, что обеспечивает надежную защиту от внешней среды. Другими словами мы гарантируем качество нашей продукции. Если же Вам интересно <span>как делают магниты на холодильник</span> в домашних условиях, читайте нашу статью. Но помните, в качество магнитов и время затраченное на домашнее изготовление будет существенно отличаться.
            p У нас вы можете приобрести виниловые магниты оптом как в небольших партиях (от 100 шт), так и большим тиражом около 1 миллиона экземпляров. 
          .catalog__info
            .block__img.block__img-secondary
              .block__img__content
                img(src="img/home/hit-1.png", alt="")
            .heading
              h2 Виниловые магниты <span>от «Фабрики магнитов» </span>
            p Виниловые магниты имеют весомую долю рынка рекламно-сувенирной продукции. Это связано с тем, что они относительно недороги в производстве, хорошо реализовываются в качестве сувениров или дополнения различных товаров, могут помочь продвинуть бренд и не только. 
            p Сейчас на рынке представлено довольно много разнообразных видов магнитов, которые отличаются своими функциями, дизайном и форматами. Виниловые магниты являются хитом продаж, так как могут обрести любой внешний вид (дизайн) при небольших финансовых и производственных затратах. 
            p Наша фабрика, благодаря многолетнему опыту работы, отлаженной системе логистики и высоким производственным мощностям, способна выполнить любой заказ в кратчайшие сроки. 
            p Если вас интересуют виниловые магниты в Москве или области, мы с радостью подберем для вас наиболее подходящий вариант как с точки зрения дизайна, так и себестоимости их производства. Индивидуальный подход и соблюдение всех требований клиента гарантируют положительный результат. Для получения консультаций по  интересующим вопросам вы можете воспользоваться заказом обратного звонка у нас на сайте или позвонить нам по телефону:
            .equipment__phone
              a(href="tel:84957830407") 8 (495) 783-04-07
        .col-md-3
          include ./catalog/aside
    .home-hit__swiper
      .heading
        h2 Примеры наших работ
      .swiper-container.swiper-hit
        .swiper-wrapper
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
        .swiper-button-next.swiper-hit-next
          i.icon.icon-right-arrow
        .swiper-button-prev.swiper-hit-prev
          i.icon.icon-left-arrow
  include ./shares/calculation
  include ./partials/_pop-up