---
title: Прямоугольные
---
extends layouts/_layout
block content
  +breadcrumbs(['Главная', 'Виниловые магниты', 'Прямоугольные'])
  .catalog-card
    .container
      .row
        .col-md-9.col-xs-12
          .catalog-card__block
            .heading
              h1 Прямоугольные магниты
            .catalog-card__img.hidden-md.hidden-sm
              img(src="img/catalog-card-img.png", alt="")
            .catalog-card__size
              p Выберите размер магнитов:
              select
                option 5 x 10 см
                option 5 x 15 см
        .col-md-9.col-xs-12
          .catalog-card__block
            .catalog-card__img.hidden-xs
              img(src="img/catalog-card-img.png", alt="")
            .catalog-card__table
              h2 Прямоугольные виниловые магниты
              table
                tr
                  th Тираж
                  th За шт.
                  th Цена
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
          .catalog-card__info
            .heading.hidden-md.hidden-sm
              h2 Прямоугольные виниловые магниты на холодильник 
            .block__img.block__img-secondary
              .block__img__content
                img(src="img/home/hit-1.png", alt="")
            .heading.hidden-xs
              h2 Прямоугольные виниловые магниты на холодильник 
            p Прямоугольные магниты можно назвать одними из наиболее востребованных вариантов, так как они отличаются относительной дешевизной производства. Они очень часто используются в качестве рекламных магнитов. Зачастую это различные промо-акции или часть маркетинговой стратегии, когда прямоугольный виниловый магнит на холодильник применяется в качестве бонуса при покупке товара. Обычно такие изделия имеют минимальную толщину и гибкую структуру, что делает их очень практичными. 
            p Прямоугольная форма является одним из самых простых вариантов изготовления магнитов. Также достаточно часто используются круглые, овальные и другие шаблоны. Традиционная толщина таких изделий составляет около 0,4 миллиметров.
            p Купить прямоугольные магниты от «Фабрики магнитов» Обратившись к нам, вы можете рассчитывать на оперативное и качественное выполнение заказов любого объема. Это могут быть как сувенирные, так и рекламные магниты. Низкая цена на прямоугольные магниты и практичная форма позволяет использовать их для любых целей. Дизайн магнитов может быть сделан по вашему макету или вы можете заказать у нас оригинальный вариант. Сейчас есть масса макетов и эскизов, которые могут быть использованы в качестве изображения на магните. 
            p В производстве мы используем только высококачественные материалы от проверенных поставщиков, поэтому мы можем гарантировать абсолютное качество конечного продукта. 
            p Если у вас есть какие-либо сомнения, вы можете связаться с нашими менеджерами, которые всегда готовы ответить на любые ваши вопросы, связанные с магнитиками на холодильник. Мы осуществляем продажу прямоугольных магнитов оптом как небольшими партиями, так и многотысячным тиражом.
        .col-md-3
          include ./catalog/aside
    .home-hit__swiper
      .heading
        h2 Примеры наших работ
      .swiper-container.swiper-hit
        .swiper-wrapper
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
        .swiper-button-next.swiper-hit-next
          i.icon.icon-right-arrow
        .swiper-button-prev.swiper-hit-prev
          i.icon.icon-left-arrow
  include ./shares/calculation
  include ./partials/_pop-up