---
title: Контакты
---
extends layouts/_layout
block content
  +breadcrumbs(['Главная', 'Контакты'])
  .contacts
    .container
      .row
        .col-xs-12
          .heading
            h1 Наши контакты
          h2 Главный офис и Производство
        .col-md-3.col-sm-6.col-xs-12
          p
            i.icon.icon-location
            | Московская область г. Химки, Нагорное шоссе д. 2
        .col-md-3.col-sm-6.col-xs-12
          p
            i.icon.icon-clock
            | Режим работы
            span Понедельник-Пятница: <br>
              | с
              b 09.00 
              | до
              b 18.00
        .col-md-3.col-sm-6.col-xs-12
          a(href="mailto:info@fabrikamagnitov.ru")
            i.icon.icon-mail
            | info@fabrikamagnitov.ru
        .col-md-3.col-sm-6.col-xs-12
          a(href="tel:84957830407")
            i.icon.icon-phone
            | 8 (495) 783-04-07
    .contacts__map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2237.1739168764993!2d37.40453123331891!3d55.89434299723046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b538ec98385cfb%3A0x8c572c3b016b985!2z0J3QsNCz0L7RgNC90L7QtSDRiC4sIDIsINCl0LjQvNC60LgsINCc0L7RgdC60L7QstGB0LrQsNGPINC-0LHQuy4sINCg0L7RgdGB0LjRjywgMTQxNDA3!5e0!3m2!1sru!2sua!4v1530711431924" frameborder="0" style="border:0" allowfullscreen)
    .container
      .row.center-xs
        .col-xs-12
          h2 Офис в Москве
        .col-md-3.col-sm-6.col-xs-12.start-xs
          p
            i.icon.icon-location
            | г. Москва, <br>ул. Авангардная, 3
        .col-md-3.col-sm-6.col-xs-12.col-md-offset-1.start-xs
          p
            i.icon.icon-clock
            | Режим работы
            span Понедельник-Пятница: <br>
              | с
              b 09.00 
              | до
              b 18.00
        .col-md-3.col-sm-6.col-xs-12.col-md-offset-1.start-xs
          a(href="mailto:office@fabrikamagnitov.ru")
            i.icon.icon-mail
            | office@fabrikamagnitov.ru
    .contacts__map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2237.1739168764993!2d37.40453123331891!3d55.89434299723046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b538ec98385cfb%3A0x8c572c3b016b985!2z0J3QsNCz0L7RgNC90L7QtSDRiC4sIDIsINCl0LjQvNC60LgsINCc0L7RgdC60L7QstGB0LrQsNGPINC-0LHQuy4sINCg0L7RgdGB0LjRjywgMTQxNDA3!5e0!3m2!1sru!2sua!4v1530711431924" frameborder="0" style="border:0" allowfullscreen)
  include ./shares/calculation
  include ./partials/_pop-up