---
title: Интересные факты о магнитах
---
extends layouts/_layout
block content
  +breadcrumbs(['Главная', 'Это интересно'])
  .fact
    .container
      .row
        .col-xs-12
          .heading
            h1 Интересные факты о магнитах
      .row
        .col-sm-6.col-xs-12
           a(href="#").fact__block
            .fact__block__img
              img(src="img/fact/fact-1.png", alt="")
            .fact__block__text
              h2 Какие бывают магниты на холодильник
              p Узнайте подробнее, какие бывают магниты на холодильник. Существует большое количество видов магнитов на холодильник, среди которых каждый сможет найти для себя нечто подходящее.
        .col-sm-6.col-xs-12
           a(href="#").fact__block
            .fact__block__img
              img(src="img/fact/fact-2.png", alt="")
            .fact__block__text
              h2 Влияние магнитов на холодильник
              p Узнайте в нашей статье как влияют магниты на холодильник, можно ли вешать магниты на холодильник. Все про догадки и мифы о влиянии магнитов на работу холодильника.
        .col-sm-6.col-xs-12
           a(href="#").fact__block
            .fact__block__img
              img(src="img/fact/fact-3.png", alt="")
            .fact__block__text
              h2 Как делают магниты на холодильник
              p Хотите больше узнать о том, как делают магниты на холодильник? Можно сделать несложные магнитики в домашних условиях, или же заказать оригинальные экземпляры у профессионалов.
        .col-sm-6.col-xs-12
           a(href="#").fact__block
            .fact__block__img
              img(src="img/fact/fact-4.png", alt="")
            .fact__block__text
              h2 Существует ли вред от магнитов на холодильнике
              p С недавних пор активно начали распространяться слухи о вреде магнитов на холодильнике на здоровье человека. В этой статье вы узнаете, вредны или нет магниты на холодильнике.
        .col-sm-6.col-xs-12
           a(href="#").fact__block
            .fact__block__img
              img(src="img/fact/fact-5.png", alt="")
            .fact__block__text
              h2 Свадебные магниты – модно, современно и практично
              p Сегодня свадебные магниты чрезвычайно популярны, так как существует масса классных вариантов по их использованию. Узнайте полный потенциал магнитов на свадьбу.
        .col-sm-6.col-xs-12
           a(href="#").fact__block
            .fact__block__img
              img(src="img/fact/fact-6.png", alt="")
            .fact__block__text
              h2 Коллекция магнитов – оригинально и увлекательно
              p Коллекция магнитов одновременно и увлечение и способ украсить свой холодильник, сделать его более живым. Особое внимание уделяется коллекции магнитов городов России.
  include ./partials/_pop-up