---
title: Index Page
---
extends layouts/_layout
block content
  include ./home/intro
  include ./home/home-action
  include ./home/home-selection
  include ./home/home-sentence
  include ./home/home-kinds
  include ./home/home-hit
  include ./home/home-work
  include ./home/home-composition
  include ./home/home-contacts
  include ./partials/_pop-up