---
title: Index Page
---
extends layouts/_layout
block content
  .pages
    ul
      li
        a(href="index.html") Главная страница
      li
        a(href="catalog-card.html") Карточка товара
      li
        a(href="catalog.html") Каталог
      li
        a(href="contacts.html") Контакты
      li
        a(href="delivery.html") Доставка
      li
        a(href="equipment.html") Обарудование
      li
        a(href="fact.html") Интересные факты
      li
        a(href="processes.html") Процессы изготовления
      li
        a(href="services.html") Услуги
      li
        a(href="shares.html") Акции
      li
        a(href="404.html") 404
  include ./partials/_pop-up