---
title: Услуги
---
extends layouts/_layout
block content
  +breadcrumbs(['Главная', 'Услуги', 'Послепечатные процессы'])
  .processes
    .container
      .processes__block
        .row.middle-xs
          .col-xs-12
            .block__img.block__img-secondary.hidden-xs
              .block__img__content
                img(src="img/processes/processes-1.png", alt="")
            .heading
              h1 <span>Послепечатные процессы</span> в изготовлении магнитов
            .block__img.block__img-secondary.hidden-sm.hidden-md
              .block__img__content
                img(src="img/processes/processes-1.png", alt="")
            p Все действия, которые проводят с напечатанными элементами магнитных изделий, можно назвать послепечатными процессами. К этому этапу <span>изготовления магнитов</span> нужно отнестись максимально скрупулезно, так как от него зависит качество готовой продукции. Только благодаря внушительному списку послепечатных операций <span>магниты на холодильник</span> обретают свой презентабельный вид и форму.
          .col-sm-6.col-xs-12
            .processes__block__stage
              .row.iddle-xs
                .col-md-6.col-sm-7.col-xs-12
                  .processes__block__stage__text
                    h2 Резка магнитов
                    .processes__block__stage__img.hidden-sm.hidden-md
                      img(src="img/processes/processes-2.png", alt="")
                    p Одну из важнейших ролей имеет резка магнитов, которая значительно ускоряет процесс производства, но должна быть выполнена максимально аккуратно. Ведь неправильно подобранные параметры резки могут привести к тому, что дальнейшая вырубка, ламинирование и упаковка для магнитов будут невозможны.
                .col-md-6.col-sm-5.col-xs-12.hidden-xs
                  .processes__block__stage__img
                    img(src="img/processes/processes-2.png", alt="")
          .col-sm-6.col-xs-12
            .processes__block__stage
              .row.iddle-xs
                .col-md-6.col-sm-7.col-xs-12
                  .processes__block__stage__text
                    h2 Резка магнитов
                    .processes__block__stage__img.hidden-sm.hidden-md
                      img(src="img/processes/processes-3.png", alt="")
                    p Одну из важнейших ролей имеет резка магнитов, которая значительно ускоряет процесс производства, но должна быть выполнена максимально аккуратно. Ведь неправильно подобранные параметры резки могут привести к тому, что дальнейшая вырубка, ламинирование и упаковка для магнитов будут невозможны.
                .col-md-6.col-sm-5.col-xs-12.hidden-xs
                  .processes__block__stage__img
                    img(src="img/processes/processes-3.png", alt="")
      .processes__block
        .row.middle-xs
          .col-xs-12
            .processes__block__video
              .heading
                h2 Видео производства магнитов 
              .row
                .col-sm-6.col-xs-12
                  b <span>Видео высечки (резки) магнитов</span> на холодильник в Фабрике Магнитов
                  a(href="#").processes__block__video__content
                    img(src="img/processes/processes-1.png", alt="")
                    i.icon.icon-youtube
                  p Следующим этапом послепачатной подготовки является процесс скругления углов, который позволяет придать магнитам законченный презентабельный вид. Этот прием значительно улучшает их эргономичность и практичность. При изготовлении некоторых видов магнитов (блокноты на магните, магнитные календари и так далее) также применяется скрепление, позволяющие соединять несколько листов с помощью пружин, скрепок или ниток. 
                .col-sm-6.col-xs-12
                  b <span>Выемка магнитов</span> на холодильник из облоя на Фабрике Магнитов
                  a(href="#").processes__block__video__content
                    img(src="img/processes/processes-1.png", alt="")
                    i.icon.icon-youtube
                  p Немаловажным этапом послепечатной подготовки является процессы выемки магнитов из облоя. Обычно это делается вручную. Сам процесс выемки магнитов вы сможете посмотреть в видеоролике: 
          .col-xs-12
            .block__img.hidden-xs
              .block__img__content
                img(src="img/processes/processes-4.png", alt="")
            .heading
              h2 <span>Отделка магнитов</span> на холодильник
            .block__img.hidden-sm.hidden-md
              .block__img__content
                img(src="img/processes/processes-4.png", alt="")
            h3 Ламинирование магнитов
            p Особую роль также играют отделочные процессы, отвечающие за придание яркого и практичного вида. В первую очередь стоит вспомнить об ламинировании магнитов. Этот этап может выполняться несколькими способами (холодное или горячее), а ламинированная пленка может быть глянцевой или матовой. Этот процесс не только улучшает внешний вид магнита, но и помогает защитить его от внешних воздействий (грязь, вода, солнечные лучи).
            h3 Лакировка магнитов
            p Также в полиграфии достаточно часто используется лакировка. Нанесение слоя лака с помощью современного оборудования придает уникальный внешний вид. Еще одним способом украшения магнита является тиснение. В данном случае применяется различного рода фольга, которая позволяет придать выпуклую форму и объем. 
            h3 Упаковка магнитов
            p Пакетики для упаковки магнитов создают конечный торговый вид. Ведь они также могут видоизменяться в зависимости от требований клиента.
      .processes__block
        .row.middle-xs
          .col-xs-12
            .block__img.block__img-secondary.hidden-xs
              .block__img__content
                img(src="img/processes/processes-5.png", alt="")
            .heading
              h4 <span>Цель послепечатных процессов</span> на «Фабрике магнитов»
            .block__img.block__img-secondary.hidden-sm.hidden-md
              .block__img__content
                img(src="img/processes/processes-5.png", alt="")
            h5 Скругление углов
            p Основной задачей послепечатных процессов в нашей компании является совершенный и привлекательный конечный вид продукции. С помощью них мы делаем нашу продукцию еще более долговечной и эффективной. Оригинальный дизайн и качественная обработка позволяет сделать магниты чрезвычайно успешными как в рекламной, так и в сувенирной сфере. Кроме этого, они должны быть максимально удобными в использовании, поэтому не один рекламный магнит не может обойтись без ламинирования или скругления углов. 
            p Обращаясь к нам, вы можете рассчитывать на полный спектр послепечатных услуг. Наша послепечатная обработка поможет даже стандартный продукт сделать уникальным.
      .processes__phone
        a(href="tel:84957830407") 8 (495) 783-04-07
  include ./shares/calculation
  include ./partials/_pop-up