---
title: Акции и скидки
---
extends layouts/_layout
block content
  +breadcrumbs(['Главная', 'Акции'])
  .shares
    .container
      .row
        .col-sm-6
          .block__img
            .block__img__content
              img(src="img/shares/shares-1.png", alt="")
        .col-sm-6.col-xs-12
          .heading
            h1 Акции и скидки
          .shares__content
            ul
              li
                a(href="#") Магнит 5х5 см 1000 шт - 5000 р.
              li
                a(href="#") Магнит 6х6 см 1000 шт - 6000 р.
              li
                a(href="#") Магнит с блокнотом! 1000 шт. - 10 000 р
              li
                a(href="#") Магнитные визитки 5х9 см 1000 шт. - 10 580 р.
            p Наша компания регулярно проводит выгодные акции.
            p Спец-предложения на продукцию компании – это отличный способ сэкономить и при этом получить качественную рекламную продукцию.
            p Акция на магнит для холодильника – наглядное тому подтверждение. 
            p Консультация и размещение заказа 
              a(href="mailto:info@fabrikamagnitov.ru") info@fabrikamagnitov.ru
          .shares__content__tel.hidden-sm.hidden-xs
            a(href="tel:84957830407") 8 (495) 783-04-07
        .col-xs-12.hidden-md.center-xs
          .shares__content__tel
            a(href="tel:84957830407") 8 (495) 783-04-07
  include ./shares/calculation
  include ./partials/_pop-up