footer.footer
  .footer__nav
    .container
      .row
        .col-sm-3.col-xs-5
          .footer__nav__logo
            img(src="img/logo__footer.png", alt="")
        .col-xs-7.hidden-sm.hidden-md
          .footer__phone
            a(href="tel:84957830407")
              i.icon.icon-phone
              | 8 (495) 783-04-07
            a(href="mailto:info@fabrikamagnitov.ru")
              i.icon.icon-mail
              | info@fabrikamagnitov.ru
        .col-sm-3.col-xs-7
          h4
            a(href="#") ИЗГОТОВЛЕНИЕ МАГНИТОВ
          ul
            li
              a(href="#") Виниловые магниты
            li
              a(href="#") Сувенирные магниты
            li
              a(href="#") Объёмные магниты
            li
              a(href="#") Рекламные магниты
            li
              a(href="#") Нестандартные виниловые
            li
              a(href="#") Другие виды магнитов
        .col-sm-3.col-xs-5.end-xs.start-sm
          h4 
            a(href="#") ОБОРУДОВАНИЕ
          ul
            li
              a(href="#") Услуги
            li
              a(href="#") Допечатная подготовка
            li
              a(href="#") Печать магнитов
            li
              a(href="#") Послепечатные процессы
        .col-sm-3.col-xs-12.start-sm.center-xs
          h4
            a(href="#") МАГНИТЫ НА ХОЛОДИЛЬНИК
          h4
            a(href="#") КОНТАКТЫ
          h4
            a(href="#") ОПЛАТА И ДОСТАВКА
          h4
            a(href="#") АКЦИИ
          h4
            a(href="#") ЭТО ИНТЕРЕСНО
  .footer__relations
    .container
      a(href="#").up
        i.icon.icon-down-arrow-1
      .row.center-xs
        .col-sm-4.start-xs.hidden-xs
          .footer__phone
            a(href="tel:84957830407")
              i.icon.icon-phone
              | 8 (495) 783-04-07
            a(href="mailto:info@fabrikamagnitov.ru")
              i.icon.icon-mail
              | info@fabrikamagnitov.ru
        .col-sm-4.col-xs-12
          .footer__social
            ul
              li
                a(href="#") 
                  i.icon.icon-vk
              li
                a(href="#") 
                  i.icon.icon-youtube
              li
                a(href="#") 
                  i.icon.icon-plus
              li
                a(href="#") 
                  i.icon.icon-facebook
              li
                a(href="#") 
                  i.icon.icon-twitter
              li
                a(href="#") 
                  i.icon.icon-od
            p © FabrikaMagnitov 2018.
              span Все права защищены.
        .col-sm-4.col-xs-12
          .footer__logo-algoritm
            img(src="img/logo_algoritm.png", alt="")
            p 
              a(href="#") Разработка 
              | и продвижение