//BEGIN header
header.header
  .header__toolbar
    .container
      .row.middle-xs
        .col-md-2.col-sm-5.center-sm.start-md
          a.header__mail(href="mailto:info@fabrikamagnitov.ru") 
            i.icon.icon-contact
            | info@fabrikamagnitov.ru
        .col-md-7.flex.middle-xs.col-sm-7
          a.header__phone(href="tel:84957830407") 
            i.icon.icon-phone
            | 8 (495) 783-04-07
          a(href="#call-order" rel='modal:open').header__callback Заказать звонок
        .col-md-3
          .header__social
            ul
              li
                a(href="#") 
                  i.icon.icon-vk
                a(href="#") 
                  i.icon.icon-youtube
                a(href="#") 
                  i.icon.icon-plus
                a(href="#") 
                  i.icon.icon-facebook
                a(href="#") 
                  i.icon.icon-twitter
                a(href="#") 
                  i.icon.icon-od
  .header__primary
    .container
      .row.middle-xs
        .col-md-3.col-sm-4.col-xs-6
          a(href="index.html").logo
            img(src="img/logo.png", alt="")
        .col-md-9.col-sm-8.col-xs-6
          .header__primary__block
            nav
              ul
                li.active
                  a(href="#") Онлайн заявка
                li
                  a(href="#") Заказать просчёт
                li
                  a(href="#") Технические требования
                li
                  a(href="#ask-question" rel='modal:open') Задать вопрос
              ul.mobile
                li
                  a(href="#") Онлайн заявка
                li
                  a(href="#") Заказать просчёт
              ul.mobile
                li 
                  a(href="#") Технические требования
                li
                  a(href="#ask-question" rel='modal:open') Задать вопрос
            .header__tools
              a(href="#").header__tools__search
                i.icon.icon-search
              .header__tools__burger
                span
  .header__menu
    .container
      .row
        .col-xs-5.hidden-sm.hidden-md
          ul.header__menu__nav
            li.active
              a(href="#") Онлайн заявка
            li
              a(href="#") Заказать просчёт
        .col-xs-7.hidden-sm.hidden-md
          ul.header__menu__nav
            li
              a(href="#") Технические требования
            li
              a(href="#ask-question" rel='modal:open') Задать вопрос
        .col-md-7.col-sm-6.col-xs-12.last-xs
          .header__menu__info
            img(src="img/home/header-menu.png", alt="").hidden-xs
            .header__menu__social
              ul
                li
                  a(href="#") 
                    i.icon.icon-vk
                li
                  a(href="#") 
                    i.icon.icon-youtube
                li
                  a(href="#") 
                    i.icon.icon-plus
                li
                  a(href="#") 
                    i.icon.icon-facebook
                li
                  a(href="#") 
                    i.icon.icon-twitter
                li
                  a(href="#") 
                    i.icon.icon-od
              p © <span>FabrikaMagnitov 2018.</span> Все права защищены.
              p Создание и продвижение сайтов <span>WEB Алгоритм</span>
        .col-md-5.col-sm-6.col-xs-12.last-sm
          .header__menu__block
            .header__menu__block__items
              span 01
              a(href="#") Виниловые магниты
                i.icon.icon-down-arrow-1
            ul.header__menu__block-list
              li.active
                a(href="#") Прямоугольные магниты
              li
                a(href="#") Квадратные магниты
              li
                a(href="#") Круглые магниты
              li
                a(href="#") Плоские магниты стандартной формы
              li
                a(href="#") Фигурные магниты
              li
                a(href="#") Магнитные календари
              li
                a(href="#") Магнитные блокноты
              li
                a(href="#") Магнит с термометром
              li
                a(href="#") Магнитные фоторамки
              li
                a(href="#") Магниты с логотипом
              li
                a(href="#") Магниты с видами городов
          .header__menu__block
            .header__menu__block__items
              span 02
              a(href="#") Объемные магниты
                i.icon.icon-down-arrow-1
            ul.header__menu__block-list
              li.active
                a(href="#") Прямоугольные магниты
              li
                a(href="#") Квадратные магниты
              li
                a(href="#") Круглые магниты
              li
                a(href="#") Плоские магниты стандартной формы
              li
                a(href="#") Фигурные магниты
              li
                a(href="#") Магнитные календари
              li
                a(href="#") Магнитные блокноты
              li
                a(href="#") Магнит с термометром
              li
                a(href="#") Магнитные фоторамки
              li
                a(href="#") Магниты с логотипом
              li
                a(href="#") Магниты с видами городов    
          .header__menu__block
            .header__menu__block__items
              span 03
              a(href="#") Другие виды магнитов
                i.icon.icon-down-arrow-1
            ul.header__menu__block-list
              li.active
                a(href="#") Прямоугольные магниты
              li
                a(href="#") Квадратные магниты
              li
                a(href="#") Круглые магниты
              li
                a(href="#") Плоские магниты стандартной формы
              li
                a(href="#") Фигурные магниты
              li
                a(href="#") Магнитные календари
              li
                a(href="#") Магнитные блокноты
              li
                a(href="#") Магнит с термометром
              li
                a(href="#") Магнитные фоторамки
              li
                a(href="#") Магниты с логотипом
              li
                a(href="#") Магниты с видами городов    
          .header__menu__block
            .header__menu__block__items
              span 04
              a(href="#") О компании
                i.icon.icon-down-arrow-1
            ul.header__menu__block-list
              li.active
                a(href="#") Прямоугольные магниты
              li
                a(href="#") Квадратные магниты
              li
                a(href="#") Круглые магниты
              li
                a(href="#") Плоские магниты стандартной формы
              li
                a(href="#") Фигурные магниты
              li
                a(href="#") Магнитные календари
              li
                a(href="#") Магнитные блокноты
              li
                a(href="#") Магнит с термометром
              li
                a(href="#") Магнитные фоторамки
              li
                a(href="#") Магниты с логотипом
              li
                a(href="#") Магниты с видами городов    
          .header__menu__block
            .header__menu__block__items
              span 05
              a(href="#") Наше производство
                i.icon.icon-down-arrow-1
            ul.header__menu__block-list
              li.active
                a(href="#") Прямоугольные магниты
              li
                a(href="#") Квадратные магниты
              li
                a(href="#") Круглые магниты
              li
                a(href="#") Плоские магниты стандартной формы
              li
                a(href="#") Фигурные магниты
              li
                a(href="#") Магнитные календари
              li
                a(href="#") Магнитные блокноты
              li
                a(href="#") Магнит с термометром
              li
                a(href="#") Магнитные фоторамки
              li
                a(href="#") Магниты с логотипом
              li
                a(href="#") Магниты с видами городов 
          .header__menu__block
            .header__menu__block__items
              span 06
              a(href="#") Оплата и доставка
                i.icon.icon-down-arrow-1
            ul.header__menu__block-list
              li.active
                a(href="#") Прямоугольные магниты
              li
                a(href="#") Квадратные магниты
              li
                a(href="#") Круглые магниты
              li
                a(href="#") Плоские магниты стандартной формы
              li
                a(href="#") Фигурные магниты
              li
                a(href="#") Магнитные календари
              li
                a(href="#") Магнитные блокноты
              li
                a(href="#") Магнит с термометром
              li
                a(href="#") Магнитные фоторамки
              li
                a(href="#") Магниты с логотипом
              li
                a(href="#") Магниты с видами городов    
          .header__menu__block
            .header__menu__block__items
              span 07
              a(href="#") Акции
                i.icon.icon-down-arrow-1
            ul.header__menu__block-list
              li.active
                a(href="#") Прямоугольные магниты
              li
                a(href="#") Квадратные магниты
              li
                a(href="#") Круглые магниты
              li
                a(href="#") Плоские магниты стандартной формы
              li
                a(href="#") Фигурные магниты
              li
                a(href="#") Магнитные календари
              li
                a(href="#") Магнитные блокноты
              li
                a(href="#") Магнит с термометром
              li
                a(href="#") Магнитные фоторамки
              li
                a(href="#") Магниты с логотипом
              li
                a(href="#") Магниты с видами городов    
          .header__menu__block
            .header__menu__block__items
              span 08
              a(href="#") Контакты
                i.icon.icon-down-arrow-1
            ul.header__menu__block-list
              li.active
                a(href="#") Прямоугольные магниты
              li
                a(href="#") Квадратные магниты
              li
                a(href="#") Круглые магниты
              li
                a(href="#") Плоские магниты стандартной формы
              li
                a(href="#") Фигурные магниты
              li
                a(href="#") Магнитные календари
              li
                a(href="#") Магнитные блокноты
              li
                a(href="#") Магнит с термометром
              li
                a(href="#") Магнитные фоторамки
              li
                a(href="#") Магниты с логотипом
              li
                a(href="#") Магниты с видами городов    
        .col-xs-12.hidden-sm.hidden-md
          .header__menu__communication
            a(href="tel:84957830407").tel
              i.icon.icon-phone
              | 8 (495) 783-04-07
            a(href="#call-order" rel='modal:open').btn Заказать звонок
            a(href="mailto:info@fabrikamagnitov.ru").mail
              i.icon.icon-contact
              | info@fabrikamagnitov.ru
//END header