section.calculation
  .container
    .row.middle-xs
      .col-md-5.col-sm-6.col-xs-12.first-sm
        .calculation__form
          form(action="")
            input(type="text" placeholder="Ваше Имя")
            input(type="email" placeholder="E-mail")
            input(type="tel" placeholder="+7 (___) ___-__-__")
            .calculation__form__text
              a(href="#") Добавить комментарий
              textarea(placeholder="Добавить комментарий")
            input(type="submit" value="отправить").btn
            .calculation__checkbox
              input(type="checkbox" id="checkbox")
              label(for="checkbox")
                p Я согласен с политикой конфиденциальности
      .col-md-6.col-sm-6.col-xs-12.first-xs
        .calculation__block
          .heading
            h2 Заказать расчёт
          p Заполните заявку и получите 10% скидку на первый заказ. Наши кольсунтанты свяжутся с Вами в ближайшее время!
      .col-md-1