.icon-add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-contact {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-down-arrow-1 {
  width: 1em;
  height: 1em;
  fill: #ffc107;
}
.icon-down-arrow {
  width: 1em;
  height: 1em;
  fill: #090509;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-od {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-right-arrow-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-right-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
