section.home-selection
  .container
    .row
      .col-xs-12
        .heading
          h2 Почему выбирают нас?
    .row.center-xs
      .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay="0.3s")
        .home-selection__block
          img(src="img/home/calendar.png", alt="")
          p Более 7 лет<br>на рынке
      .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay="0.4s")
        .home-selection__block
          img(src="img/home/selection-img-2.png", alt="")
          p 30 сотрудников с опытом <br>более 8 лет в этой сфере
      .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay="0.5s")
        .home-selection__block
          img(src="img/home/selection-img-3.png", alt="")
          p Доставка по Москве,<br>МО и всей России
      .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay="0.3s")
        .home-selection__block
          img(src="img/home/selection-img-4.png", alt="")
          p Собственное производство. <br>Более 500м2 производственных площадей
      .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay="0.4s")
        .home-selection__block
          img(src="img/home/clock.png", alt="")
          p Производство 24 часа в <br>сутки/7 дней в неделю
      .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay="0.5s")
        .home-selection__block
          img(src="img/home/settings.png", alt="")
          p Работаем на японском<br> оборудовании поcледнего поколения