section.home-work
  .container
    .row
      .col-xs-12
        .heading
          h2 Как мы работаем
      .col-md-4.col-sm-6.col-xs-12.center-xs.start-sm.wow.fadeInUp(data-wow-delay="0.3s")
        .home-work__block
          .home-work__block__img
            img(src="img/home/operator.png", alt="")
            span 01
          p Заявка с сайта или звонок
      .col-md-4.col-sm-6.col-xs-12.center-xs.start-sm.wow.fadeInUp(data-wow-delay="0.4s")
        .home-work__block
          .home-work__block__img
            img(src="img/home/calculator.png", alt="")
            span 02
          p Просчет
      .col-md-4.col-sm-6.col-xs-12.center-xs.start-sm.wow.fadeInUp(data-wow-delay="0.5s")
        .home-work__block
          .home-work__block__img
            img(src="img/home/checklist.png", alt="")
            span 03
          p Утверждение сметы
      .col-md-4.col-sm-6.col-xs-12.center-xs.start-sm.wow.fadeInUp(data-wow-delay="0.6s")
        .home-work__block
          .home-work__block__img
            img(src="img/home/monitor.png", alt="")
            span 04
          p Подготовка макета к печати
      .col-md-4.col-sm-6.col-xs-12.center-xs.start-sm.wow.fadeInUp(data-wow-delay="0.7s")
        .home-work__block
          .home-work__block__img
            img(src="img/home/printer.png", alt="")
            span 05
          p Печать
      .col-md-4.col-sm-6.col-xs-12.center-xs.start-sm.wow.fadeInUp(data-wow-delay="0.8s")
        .home-work__block
          .home-work__block__img
            img(src="img/home/shipped.png", alt="")
            span 06
          p Доставка
      