section.home-contacts
  .container
    .home-contacts__block
      .heading
        h2 Главный офис и Производство
      a(href="tel:84957830407") 8 (495) 783-04-07
        i.icon.icon-phone
      a(href="mailto:info@fabrikamagnitov.ru").mail info@fabrikamagnitov.ru
        i.icon.icon-mail
      p 
        span Московская область
          i.icon.icon-location
        span г. Химки, Нагорное шоссе д. 2
      a
        p.work Режим работы
          i.icon.icon-clock
        span Понедельник-Пятница: <br>
          | с
          b 09.00 
          | до
          b 18.00
  .home-contacts__map#map
    