section.home-composition
  .container
    .row
      .col-xs-12
        .heading
          h2 Из чего состоят наши магниты?
        .home-composition__content
          .home-composition__block.home-composition__block-1.wow.fadeInUp(data-wow-delay="0.3s")
            h3 Защитный слой
            p Можно рисовать фломастером, мыть и вырезать
          .home-composition__block.home-composition__block-2.wow.fadeInUp(data-wow-delay="0.5s")
            h3 Изображение
            p Только сочные цвета
          .home-composition__block.home-composition__block-3.wow.fadeInUp(data-wow-delay="0.8s")
            h3 Прочная основа
            p Работа на японском<br> оборудовании
          img(src="img/home/composition.png", alt="")
