section.home-hit
  .container
    .home-hit__title
      .row
        .col-md-7.col-xs-12
          h1
            | Рекламный хит -
            p на холодильник
            | магнит!
        .col-md-5.col-xs-12
          p Магниты на холодильник являются чрезвычайно популярными в сувенирном и рекламном сегментах. Сегодня сложно найти кухню, в которой нет хотя бы одного магнитика на холодильник. Потому сложно придумать более эффективный инструмент рекламы, ненавязчиво напоминающий о каком-то бренде или товаре. Сей факт давно заприметили производители продуктов питания, для которых это двойная выгода . Наверное, невозможно придумать более выгодное рекламное место  для производителя пива, безалкогольных прохладительных напитков, чем холодильник.
          p В рекламном мире магнитики на холодильник уже давно встали в один ряд с брелками, авторучками, зажигалками. Поэтому сегодня существует масса форматов и типов данной продукции. На сайте Фабрики магнитов представлено множество фото магнитов на холодильник - примеров производимой нами продукции.
    .home-hit__swiper
      .heading
        h2 Примеры наших работ
      .swiper-container.swiper-hit
        .swiper-wrapper
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
        .swiper-button-next.swiper-hit-next
          i.icon.icon-right-arrow
        .swiper-button-prev.swiper-hit-prev
          i.icon.icon-left-arrow
      