section.home-sentence
  .container
    .home-sentence__content
      .home-sentence__content__before
      .swiper-container.swiper-sentence
        .swiper-wrapper
          .swiper-slide
            .row
              .col-md-8.col-sm-6.col-xs-12
                .home-sentence__text
                  .heading
                    h2 Что мы предлагаем? 
                  p Наша компания более 7 лет занимается изготовлением магнитов на холодильник. Современное оборудование и накопленный опыт наших сотрудников позволяет предоставлять отличные условия сотрудничества. 
                  p Если вас интересует магнит на холодильник на заказ, вам стоит обратить внимание на услуги нашей фабрики. Мы можем предложить вам широкий ассортимент магнитных изделий!
              .col-md-4.col-sm-6.col-xs-12
                .home-sentence__info
                  .home-sentence__info__block
                    img(src="img/home/sentence-1.png", alt="")
                  h3 Виниловые магниты
                  p Виниловые магниты имеют весомую долю рынка рекламно-сувенирной продукции. Это связано с тем, что они относительно недороги в ...
                  a(href="#") УЗНАТЬ БОЛЬШЕ
          .swiper-slide.red
            .row
              .col-md-8.col-sm-6.col-xs-12
                .home-sentence__text
                  .heading
                    h2 Что мы предлагаем? 
                  p Наша компания более 7 лет занимается изготовлением магнитов на холодильник. Современное оборудование и накопленный опыт наших сотрудников позволяет предоставлять отличные условия сотрудничества. 
                  p Если вас интересует магнит на холодильник на заказ, вам стоит обратить внимание на услуги нашей фабрики. Мы можем предложить вам широкий ассортимент магнитных изделий!
              .col-md-4.col-sm-6.col-xs-12
                .home-sentence__info
                  .home-sentence__info__block.home-sentence__info__block-secondary
                    img(src="img/home/sentence-2.png", alt="")
                  h3 Акции
                  p Спец-предложения на продукцию компании – это отличный способ сэкономить и при этом получить качественную рекламную продукцию ...
                  a(href="#") УЗНАТЬ БОЛЬШЕ
          .swiper-slide
            .row
              .col-md-8.col-sm-6.col-xs-12
                .home-sentence__text
                  .heading
                    h2 Что мы предлагаем? 
                  p Наша компания более 7 лет занимается изготовлением магнитов на холодильник. Современное оборудование и накопленный опыт наших сотрудников позволяет предоставлять отличные условия сотрудничества. 
                  p Если вас интересует магнит на холодильник на заказ, вам стоит обратить внимание на услуги нашей фабрики. Мы можем предложить вам широкий ассортимент магнитных изделий!
              .col-md-4.col-sm-6.col-xs-12
                .home-sentence__info
                  .home-sentence__info__block
                    img(src="img/home/sentence-3.png", alt="")
                  h3 Другие магниты
                  p Существует масса вариантов использования данной продукции. Наиболее популярными ...
                  a(href="#") УЗНАТЬ БОЛЬШЕ
          .swiper-slide
            .row
              .col-md-8.col-sm-6.col-xs-12
                .home-sentence__text
                  .heading
                    h2 Что мы предлагаем? 
                  p Наша компания более 7 лет занимается изготовлением магнитов на холодильник. Современное оборудование и накопленный опыт наших сотрудников позволяет предоставлять отличные условия сотрудничества. 
                  p Если вас интересует магнит на холодильник на заказ, вам стоит обратить внимание на услуги нашей фабрики. Мы можем предложить вам широкий ассортимент магнитных изделий!
              .col-md-4.col-sm-6.col-xs-12
                .home-sentence__info
                  .home-sentence__info__block.home-sentence__info__block-secondary
                    img(src="img/home/sentence-4.png", alt="")
                  h3 объёмные магниты
                  p Сегодня такие магниты являются весьма распространенным форматом сувенирной продукции ...
                  a(href="#") УЗНАТЬ БОЛЬШЕ
        .swiper-pagination.swiper-pagination-sentence
      .swiper-button-next.swiper-sentence-next
        i.icon.icon-right-arrow
      .swiper-button-prev.swiper-sentence-prev
        i.icon.icon-left-arrow