section.home-kinds
  .container
    .row
      .col-xs-12
        .heading
          h2 Виды магнитов на холодильник
    .home-kinds__content.hidden-xs
      .row
        .col-md-3.col-sm-6.col-xs-12
          a(href="#").home-kinds__block
            img(src="img/home/kinds-1.png", alt="")
            p Магнит виниловый
        .col-md-3.col-sm-6.col-xs-12
          a(href="#").home-kinds__block
            img(src="img/home/kinds-2.png", alt="")
            p
              Магнитные визитки
            span
              | от 
              b 2,94
              | руб./шт.
        .col-md-3.col-sm-6.col-xs-12
          a(href="#").home-kinds__block
            img(src="img/home/kinds-3.png", alt="")
            p Магнитные фоторамки
        .col-md-3.col-sm-6.col-xs-12
          a(href="#").home-kinds__block
            img(src="img/home/kinds-4.png", alt="")
            p Блокнот на магните
        .col-md-3.col-sm-6.col-xs-12
          a(href="#").home-kinds__block
            img(src="img/home/kinds-5.png", alt="")
            p Магнитные закладки
        .col-md-3.col-sm-6.col-xs-12
          a(href="#").home-kinds__block
            img(src="img/home/kinds-6.png", alt="")
            p Магнитные календари
        .col-md-3.col-sm-6.col-xs-12
          a(href="#").home-kinds__block
            img(src="img/home/kinds-7.png", alt="")
            p Магнит с термометром
        .col-md-3.col-sm-6.col-xs-12
          a(href="#").home-kinds__block
            img(src="img/home/kinds.png", alt="")
            p Магнитные пазлы
    .swiper
      .home-kinds__swiper.swiper-container.hidden-sm.hidden-md
        .swiper-wrapper
          .swiper-slide
            a(href="#").home-kinds__block
              img(src="img/home/kinds-1.png", alt="")
              p Магнит виниловый
          .swiper-slide
            a(href="#").home-kinds__block
              img(src="img/home/kinds-2.png", alt="")
              p Магнитные визитки
              span
                | от 
                b 2,94
                | руб./шт.
          .swiper-slide
            a(href="#").home-kinds__block
              img(src="img/home/kinds-3.png", alt="")
              p Магнитные фоторамки
          .swiper-slide
            a(href="#").home-kinds__block
              img(src="img/home/kinds-4.png", alt="")
              p Блокнот на магните
          .swiper-slide
            a(href="#").home-kinds__block
              img(src="img/home/kinds-5.png", alt="")
              p Магнитные закладки
          .swiper-slide
            a(href="#").home-kinds__block
              img(src="img/home/kinds-6.png", alt="")
              p Магнитные календари
          .swiper-slide
            a(href="#").home-kinds__block
              img(src="img/home/kinds-7.png", alt="")
              p Магнит с термометром
          .swiper-slide
            a(href="#").home-kinds__block
              img(src="img/home/kinds.png", alt="")
              p Магнитные пазлы
    .row
      .col-xs-12.center-xs
        a(href="#calculation-order" rel='modal:open').btn.btn-primary Заказать просчёт