section.home-action
  .container
    .home-action__content
      .row
        .col-sm-6.col-xs-12
          .home-action__label
            h2 Акция -10%
        .col-sm-6.col-xs-12
          .home-action__conditions  
            ul
              li Магнит 5х5 см 1000 шт - 5000 р. 
              li Магнит 6х6 см 1000 шт - 6000 р.
              li Магнит с блокнотом! 1000 шт. - 10 000 р.
              li Магнитные визитки 5х9 см 1000 шт. - 10 580 р.
        .col-sm-6.col-xs-12
          .home-action__text
            p Спец-предложения на продукцию компании – это отличный способ сэкономить и при этом получить качественную рекламную продукцию.
        .col-sm-6.col-xs-12
          a(href="#").btn.btn-primary Подробнее