section.intro
  .swiper-container.swiper-intro(style="background-image: url('img/home/intro-bg.png')" data-carousel="swiper")
    .swiper-wrapper
      .swiper-slide
        .container
          .row
            .col-xs-12
              h2(data-animate="fadeInUp" data-delay="0.2s") На любой вкус
              h3(data-animate="fadeInUp" data-delay="0.3s") Магниты 
              h4(data-animate="fadeInUp" data-delay="0.4s") высокого качества
              p(data-animate="fadeInLeft" data-delay="0.4s") У нас Вы сможете заказать магниты любых форм и размеров, с уникальным дизайном, разработанным в соответствии с вашими пожеланиями. Мы используем индивидуальный подход к каждому клиенту!
              a(data-animate="fadeInDown" data-delay="0.4s" href="#calculator" rel="modal:open").btn.btn-primary Заказать просчёт
              img(data-animate="fadeInRight" data-delay="0.4s" src="img/home/slide-img-1.png", alt="")
      .swiper-slide
        .container
          .row
            .col-xs-12
              h2(data-animate="fadeInUp" data-delay="0.2s") В кратчайшие сроки
              h3(data-animate="fadeInUp" data-delay="0.3s").title-scondary БОЛЬШОЙ ТИРАЖ  
              p(data-animate="fadeInLeft" data-delay="0.4s") Мы производим магниты на холодильник партиями как в небольших количествах, так и многотысячным тиражом. Наша производственная база и профессионализм специалистов позволяет выполнять даже самые крупные заказы за минимальное время.
              a(data-animate="fadeInDown" data-delay="0.4s" href="#").btn.btn-primary Заказать звонок
              img(data-animate="fadeInRight" data-delay="0.4s" src="img/home/slide-img-2.png", alt="")
      .swiper-slide
        .container
          .row
            .col-xs-12
              h2 На все магниты
              h3.title-scondary Демократичные <br>Цены 
              p Наши цены Вас приятно удивят, а система скидок не оставит вам и мысли на промедление!
              a(href="#").btn.btn-primary Заказать звонок
              img(src="img/home/slide-img-3.png", alt="")
      .swiper-slide
        .container
          .row
            .col-xs-12
              h2.title-scondary КОЛОССАЛЬНЫЙ ОПЫТ 
              b В ИЗГОТОВЛЕНИИ МАГНИТОВ 
              p Мы обладаем огромным опытом предоставления полиграфических услуг - более 7 лет! Наш штат представляют 30 сотрудников с опытом более 8 лет в данной сфере.
              a(href="#").btn.btn-primary Заказать звонок
              img(src="img/home/slide-img-4.png", alt="")
      .swiper-slide
        .container
          .row
            .col-xs-12
              h2.title-scondary КОЛОССАЛЬНЫЙ ОПЫТ 
              b В ИЗГОТОВЛЕНИИ МАГНИТОВ 
              p Мы обладаем огромным опытом предоставления полиграфических услуг - более 7 лет! Наш штат представляют 30 сотрудников с опытом более 8 лет в данной сфере.
              a(href="#").btn.btn-primary Заказать звонок
              img(src="img/home/slide-img-5.png", alt="")
    .swiper-pagination.swiper-pagination-intro